body{
    background-image: url("../img/background/background.jpg");
    background-repeat: no-repeat;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.navContainer{
    display: grid;
    grid-row: 2;
    grid-column: 1;
    grid-gap: 0;
    background-color: #8EC7D2;
    padding: 1% 1%;
    height: 3.5%;
    border: 2px solid darkblue;
}

h1.topBar{
    font-size: 60px;
    font-family: Arial, serif;
    color: white;
    font-weight: normal;
    margin: 0 20%;
}

p.navBar{
    font-size: 25px;
    font-family: Arial, serif;
    margin: 2% 20%;
}

.navBarLinks{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.companyLogo{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.productContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.productContainer > div{
    background-color: lightgray;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 2px solid;
    font-family: Arial, serif;
}

.clockImg{
    width: 300px;
    height: 200px;
}

h3 {
    font-size: 20px;
    margin-left: 20px;
    text-align: left;
}

p.cost {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    color: darkred;
    text-align: left;
}

.euroCost {
    font-weight: 700;
}

p.text {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

img{
    border: 2px solid;
}

.highlight {
    background-color: lightblue !important;
    font-weight: bold;
}